@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: "Gotham R";
    src: url("fonts/Gotham/Gotham-Book.otf")
            }
@font-face {
    font-family: "Gotham B";
    src: url("fonts/Gotham/Gotham-Bold.otf")
           }
body * {
    font-family: 'Raleway';
    text-align: left;
        }
h2 {
    color:rgb(223, 0, 0);
    font-family: "Gotham B";
    font-size: 24px;
    text-transform: initial;
    font-weight: bold;
    }
h3 {
    font-family: "Gotham B";
    font-size: 19px;
    }
h4 {
    color: dimgrey;
    font-size: 17px;
    font-weight: bold;
    }
p {
    color: dimgrey;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5rem;
    font-family: 'Raleway';
    }
sup {
    font-size: 70%;
    font-weight: medium;
    }
ul {
    padding-left: 30 px;
    color: dimgrey;
    font-family: "Gotham R";
    font-size: 16px;
    }
ol {
    padding-left: 30 px;
    color: dimgrey;
    font-family: "Gotham R";
    font-size: 16px;
    }
li {
    color: dimgrey;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5rem;
    }
code {
    background-color: rgb(255, 252, 200);
    }